RUTOS_DIR="/GPL
MENUCONFIG="true"

SCP="true"
SCP_DIR="/root"
IPK_DIR=$(echo "$RUTOS_DIR/bin/packages/arm"*"/base/")
USER="root"
IP="192.168.1.1"

#["<package name>"]="<build enabled>"
declare -A PACKAGES=(
    ["libwatsoniot"]="false"
    ["luci-app-watsoniot"]="false"
    ["watsoniot-daemon"]="true"
)
